In [1]:
import pandas

### The following two blocks of code are the exact same. The second is called method chaining.

In [4]:
df = pandas.read_csv('http://bit.ly/kaggletrain')  
df = df[df.Age < df.Age.quantile(.99)]  
df['Age'].fillna(df.Age.median(), inplace=True)  
df['Age'] = pandas.cut(df['Age'],  
                       bins=[df.Age.min(), 18, 40, df.Age.max()],
                       labels=['Underage', 'Young', 'Experienced'])
df['Sex'] = df['Sex'].replace({'female': 1, 'male': 0})  
df = df.pivot_table(values='Sex', columns='Pclass', index='Age', aggfunc='mean')  
df = df.rename_axis('', axis='columns')  
df = df.rename('Class {}'.format, axis='columns')  
df.style.format('{:.2%}')

In [5]:
(pandas.read_csv('http://bit.ly/kaggletrain')
       .query('Age < Age.quantile(.99)')
       .assign(Sex=lambda df: df['Sex'].replace({'female': 1, 'male': 0}),
               Age=lambda df: pandas.cut(df['Age'].fillna(df.Age.median()),
                                         bins=[df.Age.min(), 18, 40, df.Age.max()],
                                         labels=['Underage', 'Young', 'Experienced']))
       .pivot_table(values='Sex', columns='Pclass', index='Age', aggfunc='mean')
       .rename_axis('', axis='columns')
       .rename('Class {}'.format, axis='columns')
       .style.format('{:.2%}'))